:root {
  --bg: #12141c;
  --fg: #d2d0d0;
  --primary: #2bbc8a;
  --bgAlt: #2a2d37;
  --fgAlt: #838383;
}

@font-face {
  font-family: "SpaceGrotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/SpaceGrotesk-Regular.woff2") format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: SpaceGrotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.65;
}

.shiki {
  padding: 1rem 0.5rem;
}
@media (min-width: 560px) {
  .shiki {
    padding: 1rem 1.2rem;
  }
}

blockquote {
  border-left: solid 2px;
  margin: 0;
  padding: 0.25rem 0;
  padding-left: 1rem;
}

pre {
  overflow: auto;
  width: calc(100vw - 4rem);
  max-width: calc(980px - 4rem);
}

.notion-link {
  color: var(--fg);
  text-decoration-color: var(--primary);
  text-decoration-style: double;
}

.notion-callout {
  display: flex;
  padding: 0.6rem 0.3rem;
  border: solid 1px rgb(77, 77, 83);
}
.notion-callout .notion-emoji {
  margin-right: 0.5rem;
}
